.pos-absolute{
    top:50px;
    min-width: 200px;
    position: absolute;
    z-index: 100;
    cursor:pointer;
    background: #efecec;
}
.p-2{
    border:1px solid #bbbbbb;
    border-radius: 5px;
}
.navbar{
    border-radius: 5px;

}
.navbar-nav{
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
}
.p-2 {
    font-size: 0.8rem;
}
.search-input{
    border-radius: 5px;
    font-size: 0.8rem;
}
.auth-btn{
    border-radius: 5px;
    box-shadow: 4px 4px 15px 0px rgba(34, 60, 80, 0.2);
}
.btn-search{
    border-radius: 5px;
    box-shadow: 4px 4px 15px 0px rgba(34, 60, 80, 0.2);
}